body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
img {
    width: 50%;
    height: auto;
}